{% extends 'index.html' %}

{% block content %}
    <div style="margin-top:30px;" class="centered-div">
        <h2 class="header-cln">Create Appointment Form</h2>
        <div class="center-container" style="height:60vh;">
            <form action="{% url 'appointment_create' %}" method="post">
                {% csrf_token %}
                <label>Date:</label>
                <input type="date" id="date" name="date" required>

                <label>Time:</label>
                <select id="hour" name="hour" required>
                    <option value="12">12</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>
                :
                <select id="minute" name="minute" required>
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
                <select id="ampm" name="ampm" required>
                    <option value="PM">PM</option>
                </select>

                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>

                <label for="detail">Detail:</label>
                <textarea id="detail" name="detail" rows="4"></textarea>
                {% if error %}
                    <p>{{error}}</p>
                {% endif %}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div>
        <br>
        <a href="{% url 'ams_home' %}" class="redirect-button">
            <button>Go to Home</button>
        </a>
    </div>
{% endblock content %}